<div class="issue-card" *ngFor="let issue of issues">
    <div class="issue-title">
        <p>{{issue.title}}</p>
    </div>
    <div class="author-category">
        <div class="author">
            <div class="author-avatar"></div>
            <div class="author-name-time">
                <p class="author-name">Elisabeth May</p>
                <p class="time">6hr ago</p>
            </div>
        </div>
        <div class="category">
            <div class="purple">
                <p>{{issue.category_choice}}</p>
            </div>
        </div>
    </div>
    <div class="issue-content">
        <p>
            {{issue.body}}
        </p>
    </div>
    <div class="response">
        <button class="comment">Add Response</button>
    </div>
</div>