<div class="issue-card">
  <div class="issue-title">
    <p>Github Push Rejected</p>
  </div>
  <div class="author-category">
    <div class="author">
      <div class="author-avatar"></div>
      <div class="author-name-time">
        <p>Elisabeth May</p>
        <p class="time">6hr ago</p>
      </div>
    </div>
    <div class="category">
      <div class="purple">
        <p>Github</p>
      </div>
    </div>
  </div>
  <div class="issue-content">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, dolores
      ab? Eos laudantium fugit voluptatem tempore id cupiditate explicabo, ut
      veritatis vitae ab. Nobis unde quam laudantium hic, accusamus sed!
    </p>
  </div>
  <div class="response">
    <button class="comment">Add Response</button>
  </div>
</div>
