#logo {
    width: 10%;
    align-items: center
}
#footer{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    background: rgba(30, 0, 255, 0.05);
    padding-bottom: 20px;
    padding-top: 5px;
}
.title {
    font-size: 30px;
}
#main{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 20px;
}
 
p {
    font-weight: normal;
    font-size: 18px;
}