.container-fluid {
    background-image: url('../../assets/img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 1px 0.5px 5px rgb(63, 58, 58);
}