<div class="container-fluid">
    <form #newissue='ngForm'>
        <div class="mb-3">
            <label class="form-label">Enter a title for your issue</label>
            <input type="text" id="title" class="form-control" [(ngModel)]="issue.title" name='title' required #title='ngModel'>
            <div class="alert alert-danger" [hidden]="title.valid || title.pristine">
                <p>Please enter a title, its required</p>
            </div>
        </div>
        <div class="mb-3">
            <ul class="list-group">
                <p>Enter the category in which your query falls</p>
                <li class="list-group-item"><input class="form-check-input me-1" type="radio" value="python" name="category_choice" aria-label="..." [(ngModel)]="issue.category_choice" #category_choice="ngModel" required>Python</li>
                <li class="list-group-item"><input class="form-check-input me-2" type="radio" value="javascript" name="category_choice" aria-label="..." [(ngModel)]="issue.category_choice" #category_choice="ngModel" required>JavaScript</li>
                <li class="list-group-item"><input class="form-check-input me-3" type="radio" value="typescript" name="category_choice" aria-label="..." [(ngModel)]="issue.category_choice" #category_choice="ngModel" required>Typescript</li>
                <li class="list-group-item"><input class="form-check-input me-4" type="radio" value="html" name="category_choice" aria-label="..." [(ngModel)]="issue.category_choice" #category_choice="ngModel" required>HTML</li>
                <li class="list-group-item"><input class="form-check-input me-5" type="radio" value="java" name="category_choice" aria-label="..." [(ngModel)]="issue.category_choice" #category_choice="ngModel" required>Java</li>
                <li class="list-group-item"><input class="form-check-input me-6" type="radio" value="angular" name="category_choice" aria-label="..." [(ngModel)]="issue.category_choice" #category_choice="ngModel" required>Angular</li>
                <div [hidden]="category_choice.valid || category_choice.pristine">
                    <p>You must select the language of your querry</p>
                </div>
            </ul>
        </div>
        <div class="mb-3">
            <label class="form-label">Enter the issue below</label>
            <input type="textarea" class="form-control" name="body" [(ngModel)]="issue.body" #body='ngModel' required>
            <div [hidden]="body.valid || body.pristine" class="alert alert-danger">
                <p>You must fill in a description of you issue</p>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-success" (click)="addIssue()">Submit</button>
        </div>
    </form>
</div>