@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif
}

#reply{
    float: right !important;
}
.card {
    background-color: #E85133;
    opacity: 0.9;
    width: 350px;
    border-radius: 20px;
    width: 500px;
    color: #fff;
}

.heading {
    font-weight: 700;
    color: #fff;
    
}




.btn {
    border-radius: 15px !important
}

.line-color {
    color: green;
    height: 3px
}

#like{
       width: 30px;

    
}

#liky{
    padding-left: 400px;
}