<div class="container mt-5 d-flex justify-content-center" id="now">
    <div class="card p-4 mt-3">
        <div class="first">
           
            <div class="time d-flex flex-row align-items-center justify-content-between mt-3">
                <div class="image mr-3"> <img src="https://i.imgur.com/0LKZQYM.jpg" class="rounded-circle" width="60" /> <span class="p-1" > @ Rasheed</span> </div>

                <div><button> <span class="font-weight-bold">  Reply</span></button> </div>
            </div>
        </div>
        <div class="second d-flex flex-row mt-2">
   
            <div class="">
                <div class="d-flex flex-row mb-1"> <span></span>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                </div>
              
            </div>
        </div>
        <hr class="line-color">
        <h6>For that error, this is how I tackled it. JUst make sure you have the lastest verion of python, then upgrade it.THat should work.</h6>
        <div class="third mt-4"> <button class="btn  btn-block" id="liky"><i class="fa fa-clock-o"></i> <img src="../../../assets/img/emoji.png" alt="" id="like"></button>
        </div>
    </div>
</div>

