input {
    border: none;
    border-bottom: solid 1px rgb(56, 52, 52, 0.4);
    width: 90%;
    background-color: transparent;
}

button {
    border: solid 1px #5545CD;
    color: #5545CD;
}

form {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 1px 0.5px 5px rgb(63, 58, 58);
    border-radius: 10px;
}

.row {
    padding: 10px;
    text-align: center;
}

.container-fluid {
    background-image: url('../../../assets/img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}