<div class="container-fluid">
    <div class="row">
        <form #loginForm='ngForm'>
            <div class="mb-5">
                <h1>Login to Moringa Codecon</h1>
            </div>
            <div class="mb-3">
                <input type="text" required placeholder="email" id="name">
            </div>
            <div class="mb-3">
                <input type="text" required placeholder="password" id="password">
            </div>
            <div class="mb-4">
                <p>Don't have an account yet? <a href="#">signup</a></p>
                <button type="submit" class="btn">Login</button>
            </div>
        </form>

    </div>
</div>