<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- users-page -->
    <main id="users">
        <div class="container-fluid" id="logo">
            <img src="../../../assets/img/moringa-tree.svg" alt="logo">

        </div>
        <br>
        <h1 id="title">
            Moringa Coding Family
        </h1>
        <div class="container-fluid">
            <div class="row " id="card1">
                <div class="col-sm-3">
                    <div class="">
                        <img src="../../../assets/img/user-icon.svg" alt="mk" style="width:10%"> <span class="name">Mark</span>
                    </div>
                    <br>
                    <div class="">
                        <img src="../../../assets/img/user-icon.svg" alt="mk" style="width:10%"><span class="name">Baclay</span>
                    </div>
                    <br>
                    <div class="">
                        <img src="../../../assets/img/user-icon.svg" alt="mk" style="width:10%"><span class="name">Derrick</span>
                    </div>
                    <br>
                    <div class="">
                        <img src="../../../assets/img/user-icon.svg" alt="mk" style="width:10%"><span class="name">Aisha</span>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>