<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- users-page -->
    <main id="users">
        <form #users='ngForm' class="col-md-9">
            <h1>
                Moringa Coding Family
            </h1>
            <div class="container-fluid">
                <div class="row " id="card1">
                    <div class="col-sm-3">
                        <div class="">
                            <img src="./images/Team/ceo.jpeg" alt="mk" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>

</body>

</html>