<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Comments</button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <form class="card" style="padding:10px;" #commentform='ngForm'>
                <div class="mb-3">
                    <input placeholder="Enter your comment here..." class="form-control">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-success">Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>